@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
}

/* legacy styles */
/* <link rel="stylesheet" href="/styles/theme.css" />
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/htmx.css" />
	<link rel="stylesheet" href="/styles/print.css" /> */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary-color: #1e3a8a;
  --secondary-color: #3b82f6;
  --background-color: #f3f4f6;
  --text-color: #1f2937;
  --border-color: #e5e7eb;
  --gray-color: #9a9da5;
}

/* General Styles */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  line-height: 1.6;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

/* header */
header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ffd700;
}

/* main */
.card {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}

.card h2 {
  text-align: center;
  color: #003366;
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  font-family: "Roboto", Arial, sans-serif;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input:focus {
  outline: none;
  border-color: #003366;
  box-shadow: 0 0 0 2px rgba(0, 51, 102, 0.2);
}

.remove-item {
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  width: auto;
  padding: 10px 20px;
}
.remove-item:hover {
  background-color: #ff0000;
  color: #fff;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.form-description {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #666;
}
form a {
  color: #003366;
  text-decoration: none;
  transition: color 0.3s ease;
}
form a:hover {
  color: #004080;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.checkbox-group input[type="checkbox"] {
  width: auto;
  margin: 0;
}

/* content */
.content {
  margin-top: 2rem;
}
.content h3 {
  color: #003366;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.content p {
  margin-bottom: 1rem;
}
.content ul {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
.content li {
  margin-bottom: 0.5rem;
}
.last-updated {
  font-style: italic;
  color: #666;
  text-align: center;
  margin-top: 2rem;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
}

table thead {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
}

table th:last-child,
table td:last-child {
  text-align: right;
}

table tbody tr:nth-child(odd) {
  background-color: var(--background-color);
}

/* footer */
footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}
footer a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.primary-button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  width: auto;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.primary-button:hover {
  background-color: var(--primary-color);
}

.primary-button.disabled,
.primary-button:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

/* if button is actually a link */
a.primary-button {
  text-decoration: none;
}

.secondary-button {
  background-color: #fff;
  color: #003366;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  width: auto;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.secondary-button:hover {
  border-color: var(--gray-color);
  background-color: var(--gray-color);
  color: #fff;
}

a.secondary-button {
  text-decoration: none;
}

.secondary-button.disabled,
.secondary-button:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.outlined-button {
  background-color: #fff;
  color: #003366;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  width: auto;
  padding: 10px 20px;
  height: 40px;
}

.outlined-button:hover {
  background-color: var(--gray-color);
  color: #fff;
}

.outlined-button.disabled,
.outlined-button:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.message-container {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  gap: 10px;

  /* close button */
  position: relative;

  #close-message-button {
    position: absolute;
    right: 20px;
  }
}

.message-container p {
  margin: 0;
}

.question-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.question-group label {
  font-weight: 700;
  color: #003366;
}

.question-group select {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.question-group select,
.question-group input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.question-group select:focus,
.question-group input:focus {
  outline: none;
  border-color: #003366;
  box-shadow: 0 0 0 2px rgba(0, 51, 102, 0.2);
}

.message.error {
  color: #ff0000;
  font-weight: 700;
  text-align: center;
}

.form-group-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.receipt-upload-container,
.receipt-collection-container,
.receipt-modify-container,
.receipt-confirmation-container,
.manual-receipt-upload-container {
  max-width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zc-or-manual-upload-container {
  max-width: 700px;
}

.receipt-collection-container,
.receipt-modify-container,
.receipt-confirmation-container,
.manual-receipt-upload-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receipt-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.receipt-pagination button {
  margin: 0 5px;
  height: fit-content;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .receipt-upload-container,
  .receipt-collection-container,
  .receipt-modify-container,
  .receipt-confirmation-container,
  .manual-receipt-upload-container,
  .zc-or-manual-upload-container {
    max-width: 600px;
  }
}

/* Media query for large phones */
@media (max-width: 576px) {
  .receipt-upload-container,
  .receipt-collection-container,
  .receipt-modify-container,
  .receipt-confirmation-container,
  .manual-receipt-upload-container,
  .zc-or-manual-upload-container {
    max-width: 500px;
  }
}

/* Media query for small phones */
@media (max-width: 400px) {
  .receipt-upload-container,
  .receipt-collection-container,
  .receipt-modify-container,
  .receipt-confirmation-container,
  .manual-receipt-upload-container,
  .zc-or-manual-upload-container {
    max-width: 100%;
  }
}

.receipt-upload-container {
  margin-top: 20px;
  border: 2px dashed var(--border-color);
  text-align: center;
  transition: background-color 0.3s ease;
}

.receipt-modify-container,
.receipt-confirmation-container,
.receipt-collection-container {
  margin-top: 20px;
}

.receipt-confirmation-header h2 {
  margin-bottom: 0;
}

.receipt-confirmation-header p {
  margin-top: 0;
}

.receipt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.receipt-header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.receipt-upload-container.dragover {
  background-color: #77a9de;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
}

.receipt-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.receipt-items {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.receipt-item {
  display: grid;
  grid-template-columns: repeat(11, 1fr); /* 11 columns in total */
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;

  .receipt-item-name {
    grid-column: span 7;
  }

  .receipt-item-price {
    grid-column: span 3;
    text-align: right;
  }

  .remove-item {
    grid-column: span 1;
  }
}

.receipt-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 10px;
}

.receipt h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.receipt p {
  margin: 0.5rem 0;
}

.receipt-image {
  height: fit-content;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 768px) {
  .receipt-image {
    width: 100%;
  }
}

.receipt-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.receipt-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.receipt-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.receipt-modal-close:hover,
.receipt-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.dashboard-action {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.dashboard-action:hover {
  background-color: var(--background-color);
}

.dashboard-action h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.dashboard-action p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .dashboard-actions {
    flex-direction: row;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.modifiable-receipts th:nth-child(1),
.modifiable-receipts td:nth-child(1) {
  width: 40px;
}

.modifiable-receipts-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.modifiable-receipts-actions button {
  width: 50%;
}

.sr-only {
  display: none;
}

.modal {
  position: fixed;
  width: 400px;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receipt-collection-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.receipt-collection-actions {
  display: flex;
  flex-direction: row;
}

.receipt-collection-actions a {
  width: fit-content;
}

.zc-or-manual-upload-container {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.zc-manual-upload-button {
  width: fit-content;
}

.error {
  color: red;
}

/* https://stackoverflow.com/questions/9540990/using-chromes-element-inspector-in-print-preview-mode */
@media print {
  * {
    transition: none !important;
  }

  :root {
    --primary-color: #000000;
    --secondary-color: #666666;
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #242424;
    --gray-color: #999999;
  }
}
