<header>
  <nav>
    <h1>ZCauldron</h1>

    <div class="nav-links">
      {{ if .IsLoggedIn }}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
      {{ else }}
        <a href="/login">Login</a>
        <a href="/sign-up">Register</a>
      {{ end }}
    </div>
  </nav>
</header>