<div id="results">
  <div class="table-view">
    <table>
      <thead>
        <tr>
          <th>Merchant</th>
          <th>Date</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="merchant">{{ .Merchant }}</td>
          <td id="date">{{ .Date }}</td>
          <td id="total">{{ .Total }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Items</h3>
    <table>
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Items }}
          <tr class="item">
            <td id="name">{{ .Name }}</td>
            <td id="price">{{ .Price }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>

    <div class="button-container">
      <button class="secondary-button">Back</button>
      <button class="primary-button" onclick="handleSubmit()">Save</button>
    </div>
  </div>

  <script>
    const handleSubmit = () => {
      const data = {
        merchant: document.querySelector('#merchant').innerHTML,
        date: document.querySelector('#date').innerHTML,
        total: document.querySelector('#total').innerHTML,
        items: [],
      };

      const items = document.querySelectorAll('.item');
      items.forEach((item) => {
        const itemData = {
          name: item.querySelector('#name').innerHTML,
          price: item.querySelector('#price').innerHTML,
        };
        data.items.push(itemData);
      });

      /* const response = await fetch('/upload/confirm/save', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      }); */

      console.log(data);
    };
  </script>
</div>
