package views

import "bus.zcauldron.com/pkg/views/partials"

type HelloData struct {
	Title string
	Name string
	IsLoggedIn bool
}

templ Hello(data HelloData) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@partials.GlobalHead(data.Title)
		</head>
		<body>
			@partials.GlobalHeader(data.IsLoggedIn)
			<main>
				<h1>Hello, { data.Name } !</h1>
			</main>
			@partials.GlobalFooter()
		</body>
	</html>
}
