<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/htmx.css" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  </head>
  <body>
    {{ template "header.go.tmpl" . }}

    <main>      
      <form 
        class="receipt-upload-container"
        id="imageUploadForm" 
        enctype="multipart/form-data" 
        hx-post="/upload" 
        hx-target="#result" 
        hx-swap="outerHTML"
        hx-trigger="submit"
        hx-indicator="#loading-spinner"
      >
        <h2>Upload Receipt</h2>
        <label for="image">Drag and drop your receipt image here, or click to select a file</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <span class="info-text">Supported file types: .png, .jpeg, .jpg, .webp, .gif</span>
        <button type="submit" class="primary-button">Upload</button>        
        <div id="loading-spinner" class="htmx-indicator pulse-indicator">Processing your request. This may take a few moments...</div>
      </form>
      <div id="result"></div>

      <div class="table-view receipt-collection-container">
        <h2>Receipts</h2>
        <table>
          <thead>
            <tr>
              <th>Merchant</th>
              <th>Date</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Receipts }}
              <tr class="receipt">
                <td><a href="/dashboard/receipt?id={{ .ID }}">{{ .Merchant }}</a></td>
                <td>{{ .Date }}</td>
                <td>{{ .Total }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </main>

    {{ template "footer.go.tmpl" . }}
    <script src="/scripts/receipt-utils.js"></script>
  </body>
</html>
