<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    {{ template "header.go.tmpl" . }}

    <main>
      <p class="message">{{ .Message }}</p>
      <div class="table-view receipt-collection-container">
        <h2>Receipts</h2>
        <table>
          <thead>
            <tr>
              <th>Merchant</th>
              <th>Date</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="receipt">
              <td>{{ .Receipt.Merchant }}</td>
              <td>{{ .Receipt.Date }}</td>
              <td>{{ .Receipt.Total }}</td>
            </tr>
          </tbody>
        </table>

        <div class="receipt-items">
          <h2>Items</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Receipt.Items }}
                <tr>
                  <td>{{ .Name }}</td>
                  <td>{{ .Price }}</td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </main>

    {{ template "footer.go.tmpl" . }}
  </body>
</html>
