#edit-receipt {
  .receipt-items-table {
    width: 100%;
    border-collapse: collapse;
  }

  .receipt-item-row {
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
  }

  .item-name-cell,
  .item-price-cell {
    padding: 5px;
    box-sizing: border-box;
  }

  .item-name-input,
  .item-price-input {
    width: 100%;
    box-sizing: border-box;
  }

  .item-price-input {
    text-align: right;
  }

  /* Mobile layout */
  @media (max-width: 767px) {
    .receipt-items-table thead {
      display: none;
    }

    .item-name-cell,
    .item-price-cell {
      width: 100%;
    }

    .item-price-cell {
      margin-bottom: 10px;
    }
  }

  /* Desktop layout */
  @media (min-width: 768px) {
    .item-name-cell {
      width: 75%;
    }

    .item-price-cell {
      width: 25%;
    }
  }
}
