.receipt-upload-container,
.receipt-collection-container,
.receipt-modify-container,
.receipt-confirmation-container,
.manual-receipt-upload-container {
  max-width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zc-or-manual-upload-container {
  max-width: 700px;
}

.receipt-collection-container,
.receipt-modify-container,
.receipt-confirmation-container,
.manual-receipt-upload-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receipt-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.receipt-pagination button {
  margin: 0 5px;
  height: fit-content;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .receipt-upload-container,
  .receipt-collection-container,
  .receipt-modify-container,
  .receipt-confirmation-container,
  .manual-receipt-upload-container,
  .zc-or-manual-upload-container {
    max-width: 600px;
  }
}

/* Media query for large phones */
@media (max-width: 576px) {
  .receipt-upload-container,
  .receipt-collection-container,
  .receipt-modify-container,
  .receipt-confirmation-container,
  .manual-receipt-upload-container,
  .zc-or-manual-upload-container {
    max-width: 500px;
  }
}

/* Media query for small phones */
@media (max-width: 400px) {
  .receipt-upload-container,
  .receipt-collection-container,
  .receipt-modify-container,
  .receipt-confirmation-container,
  .manual-receipt-upload-container,
  .zc-or-manual-upload-container {
    max-width: 100%;
  }
}

.receipt-upload-container {
  margin-top: 20px;
  border: 2px dashed var(--border-color);
  text-align: center;
  transition: background-color 0.3s ease;
}

.receipt-modify-container,
.receipt-confirmation-container,
.receipt-collection-container {
  margin-top: 20px;
}

.receipt-confirmation-header h2 {
  margin-bottom: 0;
}

.receipt-confirmation-header p {
  margin-top: 0;
}

.receipt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.receipt-header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.receipt-upload-container.dragover {
  background-color: #77a9de;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
}

.receipt-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.receipt-items {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.receipt-item {
  display: grid;
  grid-template-columns: repeat(11, 1fr); /* 11 columns in total */
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;

  .receipt-item-name {
    grid-column: span 7;
  }

  .receipt-item-price {
    grid-column: span 3;
    text-align: right;
  }

  .remove-item {
    grid-column: span 1;
  }
}

.receipt-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 10px;
}

.receipt h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.receipt p {
  margin: 0.5rem 0;
}

.receipt-image {
  height: fit-content;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 768px) {
  .receipt-image {
    width: 100%;
  }
}

.receipt-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.receipt-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.receipt-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.receipt-modal-close:hover,
.receipt-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.dashboard-action {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.dashboard-action:hover {
  background-color: var(--background-color);
}

.dashboard-action h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.dashboard-action p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .dashboard-actions {
    flex-direction: row;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.modifiable-receipts th:nth-child(1),
.modifiable-receipts td:nth-child(1) {
  width: 40px;
}

.modifiable-receipts-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.modifiable-receipts-actions button {
  width: 50%;
}

.sr-only {
  display: none;
}

.modal {
  position: fixed;
  width: 400px;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receipt-collection-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.receipt-collection-actions {
  display: flex;
  flex-direction: row;
}

.receipt-collection-actions a {
  width: fit-content;
}
