/* https://stackoverflow.com/questions/9540990/using-chromes-element-inspector-in-print-preview-mode */
@media print {
  * {
    transition: none !important;
  }

  :root {
    --primary-color: #000000;
    --secondary-color: #666666;
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #242424;
    --gray-color: #999999;
  }
}
