.strength-meter {
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 15px;
}
.strength-meter-fill {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.strength-info > p {
  font-size: 16px;
  color: #666;
  margin: 0;
  padding: 0;
}
